<app-menu (carritoClicked)="toggleCarrito()"></app-menu>

<app-carrito *ngIf="carritoVisible" (closeCarrito)="closeCarrito()"></app-carrito>

<div class="container mt-4 p-4" style="background-color: white; border-radius: 10px; max-width: 800px; margin: auto;">
  <ul class="nav nav-tabs mb-4" id="miCuentaItems" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="datos-personales-tab" data-bs-toggle="tab" data-bs-target="#datos-personales" type="button" role="tab" aria-controls="datos-personales" aria-selected="true">Editar Datos Personales</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="cambiar-contrasena-tab" data-bs-toggle="tab" data-bs-target="#cambiar-contrasena" type="button" role="tab" aria-controls="cambiar-contrasena" aria-selected="false">Cambiar Contraseña</button>
    </li>
  </ul>

  <div class="tab-content" id="miCuentaContenido">
    <div class="tab-pane fade show active" id="datos-personales" role="tabpanel" aria-labelledby="datos-personales-tab">
      <h4 class="mb-4">Datos Personales</h4>
      <form [formGroup]="miCuentaForm" (ngSubmit)="onGuardarDatosPersonales()" class="needs-validation" novalidate>
        <div class="row g-3">
          <div class="col-md-6">
            <label for="nombre" class="form-label">Nombre <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre">
            <div *ngIf="miCuentaForm.controls['nombre'].invalid && miCuentaForm.controls['nombre'].touched" class="invalid-feedback">Este campo es obligatorio.</div>
          </div>
          <div class="col-md-6">
            <label for="apellidos" class="form-label">Apellido <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="apellidos" formControlName="apellidos">
            <div *ngIf="miCuentaForm.controls['apellidos'].invalid && miCuentaForm.controls['apellidos'].touched" class="invalid-feedback">Este campo es obligatorio.</div>
          </div>
          <div class="col-md-6">
            <label for="fechaNacimiento" class="form-label">Fecha Nacimiento <span class="text-danger">*</span></label>
            <input type="date" class="form-control" id="fechaNacimiento" formControlName="fechaNacimiento">
            <div *ngIf="miCuentaForm.controls['fechaNacimiento'].invalid && miCuentaForm.controls['fechaNacimiento'].touched" class="invalid-feedback">Este campo es obligatorio.</div>
          </div>
          <div class="col-md-6">
            <label for="telefono" class="form-label">Teléfono <span class="text-danger">*</span></label>
            <input type="text" class="form-control" maxlength="9" id="telefono" formControlName="telefono">
            <div *ngIf="miCuentaForm.controls['telefono'].invalid && miCuentaForm.controls['telefono'].touched" class="invalid-feedback">Este campo es obligatorio.</div>
          </div>
          <div class="col-md-12">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="direccion" formControlName="direccion">
            <div *ngIf="miCuentaForm.controls['direccion'].invalid && miCuentaForm.controls['direccion'].touched" class="invalid-feedback">Este campo es obligatorio.</div>
          </div>
          <div class="col-12 text-end">
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
          </div>
        </div>
      </form>
    </div>

    <div class="tab-pane fade" id="cambiar-contrasena" role="tabpanel" aria-labelledby="cambiar-contrasena-tab">
      <h4 class="mb-4">Cambiar Contraseña</h4>
      <form [formGroup]="cambiarContrasenaForm" (ngSubmit)="onGuardarNuevaContrasena()" class="needs-validation" novalidate>
        <div class="row g-3">
          <div class="col-md-6">
            <label for="contrasenaActual" class="form-label">Contraseña actual</label>
            <input type="password" class="form-control" id="contrasenaActual" formControlName="contrasenaActual" maxlength="18">
            <div *ngIf="cambiarContrasenaForm.controls['contrasenaActual'].invalid && cambiarContrasenaForm.controls['contrasenaActual'].touched" class="invalid-feedback">Este campo es obligatorio.</div>
          </div>
          <div class="col-md-6">
            <label for="nuevaContrasena" class="form-label">Nueva Contraseña</label>
            <input type="password" class="form-control" id="nuevaContrasena" formControlName="nuevaContrasena" maxlength="18">
            <div *ngIf="cambiarContrasenaForm.controls['nuevaContrasena'].invalid && cambiarContrasenaForm.controls['nuevaContrasena'].touched" class="invalid-feedback">Este campo es obligatorio.</div>
          </div>
          <div class="col-12 text-end">
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
